<!DOCTYPE html>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="/static/logohead.png">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script src="https://d3js.org/d3.v2.min.js?2.9.3"></script>
<link rel="icon" href="/static/img/mdb-favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/mdb.min.css">
<link rel="stylesheet" href="/static/css/style.css">


<body>
    <!--Main Navigation-->
    <header>
        <nav
            class="navbar fixed-top navbar-expand-lg peach-gradient lighten-3 py-4 mb-4 font-weight-bold z-depth-1 scrolling-navbar ">
            <a class="navbar-brand" href=".">
                <strong class="text-white"><b>VAN HAVERMAET</b></strong>
                <!-- <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="mdb logo"> -->
                <!-- <img src="/static/fototop.png" height="30" alt="mdb logo"> -->



            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="https://vanhavermaet.be/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="https://portal.vanhavermaet.be/">Portal</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>





    <!-- Start your project here-->
    <!-- <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h3 class="text-center-mb-3">
                    Autocomplete
                </h3>
                <div class="form-group">
                    <input id="search" type="text" class="form-control form-control-lg" placeholder="schrijf hier">
                </div>
                <div id="match-list"></div>
            </div>
        </div>
    </div> -->
    <!-- End your project here-->



    <!-- Grid row -->
    <div class="container-fluid gridgroot">
        <div class="row een align-items-center">
            <div class="col-md-8 twee ">
                <div class="card example-1 scrollbar-deep-purple bordered-deep-purple thin">
                    <div class="card-body">
                        <div id="area1"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ml-auto drie">
                <div class="row">
                    <div class="col vier">
                        <h4>Enter a name and press search</h4>
                        <div class="active-black-3 active-black-4 mb-4">
                            <input class="form-control" id="search" type="text" placeholder="Search"
                                aria-label="Search">
                        </div>
                        <div class="dropdown">
                            <button class="btn peach-gradient lighten-3 py-4 mb-4  z-depth-1 dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Search
                            </button>
                            <div class="dropdown-menu" id="match-list" aria-labelledby="dropdownMenuButton">
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn peach-gradient lighten-3 py-4 mb-4  z-depth-1 dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Opties
                            </button>
                            <div class="dropdown-menu" id="search-options" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" onclick="changeSearchOptionName()">name</a>
                                <a class="dropdown-item" onclick="changeSearchOptionEmail()">email</a>
                                <a class="dropdown-item" onclick="changeSearchOptionPhone()">phone</a>
                                <a class="dropdown-item" onclick="changeSearchOptionCompanyName()">C-name</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col vijf">
                        <div class="card example-1 scrollbar-deep-purple bordered-deep-purple thin">
                            <div class="card-body">
                                <!-- <div id="area3"></div> -->
                                <div id="area2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <!-- <footer class="page-footer font-small warning-color fixed-bottom">
        <div class="footer-copyright text-center py-3">© 2020 Project AI Van HaverMaet x UCLL
        </div>
    </footer>
 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/network.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/mdb.min.js"></script>
    <script type="text/javascript" src="/static/js/searchbar.js"></script>
</body>